[include advanced_nozzle_cleaner.cfg]

[include timelapse.cfg]

[firmware_retraction]
retract_length: 0

[extruder]
control: __DELETED__
pid_kp: __DELETED__
pid_ki: __DELETED__
pid_kd: __DELETED__
rotation_distance: 6.67

[heater_bed]
control: __DELETED__
