[include timelapse.cfg]

[firmware_retraction]
retract_length: 1
unretract_extra_length: 2

[extruder]
control: __DELETED__
pid_kp: __DELETED__
pid_ki: __DELETED__
pid_kd: __DELETED__
rotation_distance: 6.67

[heater_bed]
control: __DELETED__
